<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26576401004-rc0un1putf6cft774cp6qa177g2cdahv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26576401004-rc0un1putf6cft774cp6qa177g2cdahv</string>
	<key>API_KEY</key>
	<string>AIzaSyCSvPuwSzJCmzrRTaOjpjFqPoJlQU0Y8yw</string>
	<key>GCM_SENDER_ID</key>
	<string>26576401004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chunyang.chunyang-tea</string>
	<key>PROJECT_ID</key>
	<string>capstone-porject-ios-app</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-porject-ios-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26576401004:ios:432da743c3d90c80eb9e49</string>
	<key>DATABASE_URL</key>
	<string>https://capstone-porject-ios-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>